<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Form Add Customers</h1>
    <form action="/edit" method="post">
        <table>
            <tr>
                <td>
                    <!-- id -->
                    <input type="hidden" id="id" name="id" placeholder="Enter id" value="<%=customer.id%>"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- name -->
                    <input type="text" id="upName" name="upName" placeholder="Enter name" value="<%=customer.name%>"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- email -->
                    <input type="text" id="upEmail" name="upEmail" placeholder="Enter email" value="<%=customer.email%>"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- address -->
                    <input type="text" id="upAddress" name="upAddress" placeholder="Enter address" value="<%=customer.address%>"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- total -->
                    <input type="text" id="upTotal" name="upTotal" placeholder="Enter total" value="<%=customer.total%>"/>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- id -->
                    <input type="submit" value="Update"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>